<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- START ADAPTIVE PERMISSIONS -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Backwards compatibility permissions for bluetooth. Uncomment when bump targetSdk to 31 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />


    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:backupAgent=".CustomBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service
            android:name="com.futurae.sdk.messaging.FTRFcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="futurae" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:host="www.futurae.com"/>
                <data android:pathPrefix="/futurae_enroll"/>
                <data android:pathPrefix="/futurae_auth"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.FTRQRCodeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ActivitySDKConfiguration"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ActivityPin"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ActivityAccountHistory"
            android:exported="false" />

        <activity
            android:name=".ui.activity.adaptive.AdaptiveOverviewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.adaptive.AdaptiveCollectionsOverviewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.adaptive.AdaptiveCollectionDetailsActivity"
            android:exported="false" />

    </application>

</manifest>